.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}

.board {
  background-color: rgb(104, 89, 74);
  padding: 20px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hallway {
  display: flex;
  background-color: rgb(70, 46, 11);
}

.hallway-active:hover {
  background-color: rgb(144, 102, 44);
  cursor: pointer;
}

.horizontal {
  margin: 20px 0;
}

.vertical {
  margin: 0 20px;
}

.room {
  display: flex;
  height: 100%;
  background-color: green;
}

.room-active:hover {
  background-color: rgb(100, 195, 100);
  cursor: pointer;
}

.player {
  background-color: red;
  margin: 5px;
  width: 30px;
  height: 30px;
}
